.logo {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  
  .marge-logo {
    margin-right: 15px;
  }
  
  .img {
    width: 190px;
    height: 30px;
  }
  
  .btn {
    width: 100%;
    height: 40px;
    border: transparent;
    font-weight: bold;
    background-color: #eaeaea;
    box-shadow: 0px 4px 10px 0px #00000040;
  }