.position-image {
    position: relative;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .image-fond {
    width: 150px;
    height: 25px;
  }
  
  .position-logo {
    display: flex;
    justify-content: center;
  }

  /*FLECHE*/
  
  .position-fleche {
    position: fixed;
    left: 10px;
  }
  
  .fa-arrow-left {
    color: black;
  }