.span-coeur {
 


  /*Pour la page menu*/
.menu-page{
  position: relative;

}

  /********/

  
  
  .coeur-rempli {
    opacity: 0;
    position: absolute;
    font-size: 25px;
    right: 50px;
    bottom: 20px;
  

  &_menu {
    opacity: 0;
    position: absolute;
    font-size: 25px;
    right: 50px;
    bottom: 20px;

  }

}
  
  .coeur-vide {
    opacity: 1;
    position: absolute;
    font-size: 25px;
    right: 50px;
    bottom: 20px;
  }
  &_menu {
    opacity: 1;
    position: absolute;
    font-size: 25px;
    right: 50px;
    bottom: 20px;
    }
  }
      
  .span-coeur:hover{

    .coeur-vide{
    opacity: 0;
    
  }

  .coeur-rempli {
    opacity: 1;
    color: #9747FF;

  }
}

