
//COULEURS

$primaire-color: #9356DC;
$secondaire-color: #FF79DA;
$tertiaire-color: #99E2D0;

$green-font:#008766;
$black: black;



//BACKGROUD-COLOR

$white-color:#FFFFFF;
$grey-color:#EAEAEA;
$greylight-color: #F6F6F6;
$greydarck-color:#353535;
$btn-background: linear-gradient($secondaire-color, $primaire-color);
$like-backgroud: linear-gradient($primaire-color, $secondaire-color);