.btn-violet_menu {
    color: white;
    background:$btn-background;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px;
    border-radius: 25px;
    height: 48px;
    width: 180px;
    font-size: 14px;
    transition-property: transform;
    &:hover {
      transform: scale(1.00);
       filter: brightness(1.1);
       box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
       transition: 0.5s;
    }
    margin-bottom: 40px;
  }